*{
    margin: 0;
    padding: 0;
}

fieldset{
    border: 0;
} 

.tudo{
    margin-left: 40%;
    margin-top: 15%;
    justify-content: center;

}

body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    font-size: 1em;
    color: #2c1b0c;
    margin-left: 36%;
    margin-top: 0.5%;
    justify-content: center;
}

.imagem {
    width:24em;
    height:20em;
    margin: 500px 50px 0px 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.back{
    background-color: #ffa940;
    width: 15em;
    height: 14.5em;
    border: 1px solid #000000;
    margin-left: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
display: block;
    

}

.titulo{
    margin-top: 2%;
    margin-left: 1em;
    background-color: salmon;
    width: 15em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #000000;


}

#titulo1{
    margin-top: 2%;
    font-family: sans-serif;
    color: #ffffff	;
    text-align: center;
    text-shadow: 2px 2px 2px #000000 ;
}

fieldset{
    border: 0;
}


input,button{
    font-family: sans-serif;
    font-size: 1em;
    color: #2c1b0c;
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    margin-left: 1em;
}

.grupo label{
    margin-bottom: 0.5em;
    color: #2c1b0c;
    display: block;
}

fieldset.campo{
    float: left;
    margin-left: 1em;
    margin-top: 1%;
}

.grupo input[type="text"], .grupo input[type="password"]{
    padding: 0.3em;
    border: 1px solid #2c1b0c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    height: 2em;
    width: 12.8em;
    display: block;
}

.grupo input:focus{
    background: #FFEBCD
}

.botao{
    font-size: 0.8em;
    background: #ff7b00;
    border:1px solid#000000 ;
    margin-bottom:1em;
    color: #ffffff;
    padding: 0.3em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
    position: absolute;
    top: 65%;
    left: 53.5%;
    border-radius: 5px;
    text-align: center;
    margin-top: 0;
    
}

.botao:hover{
    background: #FFE4C4;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: none ;
}

.info{
    font-size: 10px;
    font-family: sans-serif;
    line-height: 3;

}
.cadastro{
    font-size: 10px;
    font-family: sans-serif;
    line-height: 0;

}

.senha, .usuario{
    margin-top: 2%;
}

::-webkit-input-placeholder  { 
    font-family: sans-serif;
    font-size: 12px; 
    vertical-align: center;
}

.conta{
    display: inline-block;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 2em;
}

.conta1{
    margin-top: 1%;
}


