*{
    margin: 0;
    padding: 0;
}
h11{
    color: red;
}

.topo{
    background-color:#cc7000;
    width: 26.7em;
    margin-top: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.fundo{
    background-color: #ffa940;
    width: 26.6em;
    height: 33em;
    border: 1px solid #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#titulo{
    margin-top: 2%;
    font-family: sans-serif;
    color: #ffffff	;
    text-align: center;
    text-shadow: 2px 2px 2px #000000 ;
}

#subtitulo{
    font-family: sans-serif;
    color: #ffffff	;
    text-align: center;
    text-shadow: 2px 2px 2px #000000 ;

}

#email{
    width: 23.7em;
}

fieldset{
    border: 0;
}

.devweb{
    margin-top: 0.5%;
}

body{
    background-color: #FFFAFA;
    font-family: sans-serif;
    font-size: 1em;
    color: #2c1b0c;
    margin-left: 36%;
    margin-top: 0.5%;
    justify-content: center;
}

input,select,textarea,button{
    font-family: sans-serif;
    font-size: 1em;
    color: #2c1b0c;
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    margin-left: 1em;
}
.grupo1{
    margin-left: 1em;

}

.campo label{
    margin-bottom: 0.3em;
    color: #2c1b0c;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-left: 1em;
    margin-top: 1%;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="password"], .campo select, .campo textarea{
    padding: 0.3em;
    border: 1px solid #2c1b0c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    height: 1.5em;
    width: 11em;
    display: block;
}

.campo select option{
    padding-right: 1em ;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFEBCD
}

.botao{
    font-size: 1.2em;
    background: #ff7b00;
    border:0 ;
    margin-bottom:1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
    position: absolute;
    top: 90%;
    left: 62.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #FFE4C4;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: none ;
}

#check{
    display: inline-block;
    
}

.obs{
    font-family: sans-serif;
    font-size: 0.7em;
    margin-left: 0%;
    display: inline-block;
    color:#2c1b0c;
}
#area1{
    margin-top: 1%;
}

.info{
    font-family: sans-serif;
    font-size: 0.7em;
}

.botao, select{
    cursor: pointer;
}